.profile-tabs {
  position: absolute;
  width: 100%;
  height: 80px;
  margin: 15px 0px 30px 0px;
}

.follow-interactions {
  position: absolute;
  right: 0;
  display: flex;
  padding: 10px 20px;
}

.follow-interactions div {
  margin: 10px;
  border: 1px solid #f08080;
  padding: 2px 10px;
  border-radius: 3px;
}

#follow-unfollow-button {
  background-color: #f08080;
  color: white;
  opacity: 1;
  font-size: 14px;
  cursor: pointer;
}

#follow-unfollow-button:hover {
  opacity: 0.6;
}

#message-button-intab {
  opacity: 1;
  cursor: pointer;
  color: #f08080;
}

#message-button-intab:hover {
  opacity: 0.6;
}

#list-options-intab {
  opacity: 1;
  cursor: pointer;
}

#list-options-intab:hover {
  opacity: 0.6;
}

.portfolio-tab {
  margin: 0 50px;
  padding-bottom: 100px;
}

.portfolio-title, .album-title, .favourites-title {
  display: flex;
  justify-content:space-between;
}

.portfolio-title span, .album-title span, .favourites-title span{
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

#see-all-button {
  cursor: pointer;
  opacity: 1;
}

#see-all-button:hover{
  opacity: 0.6;
}

.album-images {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  gap: 20px;
}

.new-album {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  height: 200px;
  width: 200px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}

.new-album:hover{
  opacity: 0.7;
}

.child-album img {
  max-width: 200px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

#child-album-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-top: 5px;
}

.favoutites-images > img {
  padding: 3px;
}


.latest-upload {
  margin-top: 40px;
}

.latest-upload-images {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.latest-upload-images img {
  width: 100%;
  height:340px;
  object-fit: cover;
}

.favoutites-images {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.favoutites-images img {
  width: 100%;
  height:340px;
  object-fit: cover;
}

.favourites {
  margin-top: 50px;
}

.favoutites-images {
  margin: 10px 0px;
}

.biography-tab {
  display: flex;
  padding-bottom: 20px;
}

.bio-left {
  width: 70%;
  border-right: 1px solid #f08080;
}

.bio-right {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
}

.experience-text,
.skills-text {
  display: flex;
  flex-direction: column;
}

.experience-text > span,
.skills-text > span {
  font-size: 20px;
  font-weight: 600;
}

.bio-experience,
.bio-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
}

.badge-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}

.badge-container > div {
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #f08080;
  color: #f08080;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
}

.skill-btn,
.exp-btn {
  align-self: center;
}

.social-infor {
  display: flex;
  padding: 30px 0px;
}

.social-infor > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  font-weight: 600;
}

.social-infor > div > span {
  font-weight: 400;
}

.personal-infor {
  margin-bottom: 10px;
}

.personal-infor > div {
  padding: 5px 0px;
}

.personal-infor > div > span {
  font-weight: 600;
}

.camera > svg {
  margin-right: 10px;
}

.camera {
  width: 70%;
}

.camera > span {
  font-weight: 300;
  font-size: 16px;
}

.edit-btn {
  margin: 20px 0px;
}