.profilePage {
    width: 100%;
    height: 100%;
    position: relative;
}

#coverImage {
  height: 450px;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

.peronalInfor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.profileAvatar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.profileAvatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 20px;
    object-fit: cover;
}

#default-avatar {
    margin: 0 20px;
}

.profileName {
    font-size: 26px;
}