.profilePage {
    width: 100%;
    height: 100%;
    position: relative;
}

.coverImage {
  height: 450px;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

.peronalInfor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.coverImageContent {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.coverImageContent img {
    width: 200px;
    border-radius: 50%;
    margin: 0 20px;
}

#default-avatar {
    margin: 0 20px;
}

.profileName {
    font-size: 26px;
}

.profile-tabs {
    position: absolute;
    width: 100%;
    height: 80px;
    margin: 30px 0px 30px 0px;
}

.portfolio-tab {
    margin:0 50px;
    padding-bottom: 100px;
    padding-left: 63px;
}

.album > span, .latest-upload > span, .favourites > span {
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

.album-images {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px 0px;
}

.album-images > div > img, .favoutites-images > img{
    padding: 3px;
}

.left-album img {
    max-width: 600px;
    width: 100%;
}

.right-album {
    display: flex;
    flex-direction: column;
}

.right-album img {
    max-width: 300px;
    width: 100%;
}

.latest-upload {
    margin-top: 40px;
}

.latest-upload-images {
    margin: 10px 0px;
}

.favourites {
    margin-top: 50px;
}

.favoutites-images {
    margin: 10px 0px;
}

.biography-tab {
    display: flex;
    padding-bottom: 20px;
}

.bio-left {
    width: 70%;
    border-right: 1px solid #f08080;
}

.bio-right {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
}

.experience-text, .skills-text {
    display: flex;
    flex-direction: column;
}

.experience-text > span, .skills-text > span {
    font-size: 20px;
    font-weight: 600;
}

.bio-experience, .bio-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
}

.badge-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
}

.badge-container > div  {
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #f08080;
    color: #f08080;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
}

.skill-btn, .exp-btn {
    align-self: center;
}

.social-infor {
    display: flex;
    padding: 30px 0px;
}

.social-infor > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    font-weight: 600;
}

.social-infor > div > span {
    font-weight: 400;
}

.personal-infor {
    margin-bottom: 10px;
}

.personal-infor > div {
    padding: 5px 0px;
}

.personal-infor > div > span{
    font-weight: 600;
}

.camera > svg {
    margin-right: 10px;
}

.camera {
    width: 70%;
}

.camera > span {
    font-weight: 300;
    font-size: 16px;
}

.edit-btn {
    margin: 20px 0px;
}