.explore-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-bar {
  height: 80px;
  border-bottom: 2px solid #f08080;
  display: flex;
  width: 100%;
  align-items: center;
}

.select-part {
  width: 100%;
  margin-left: 100px;
}

.options {
  width: 100%;
  text-align: center;
}

.options span {
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.images {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 10px;
}

.images img {
  width: 480px;
  height: auto;
  object-fit: cover;
  margin:10px;
}
