.explore-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-bar {
  height: 80px;
  border-bottom: 2px solid #f08080;
  display: flex;
  width: 100%;
  align-items: center;
}

.select-part {
  width: 100%;
  margin-left: 100px;
}

.options {
  width: 100%;
  text-align: center;
}

.options span {
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.options span::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f08080;
  transition: width 0.3s ease-in-out;
}

.options span:hover::before {
  width: 100%;
}

.images {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.images img {
  width: 480px;
  height: auto;
  object-fit: cover;
  margin: 10px;
}