textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    resize: none !important;
    margin: 5px;
    outline: none;
}

/* comment */
.Textarea--comment {
    padding: 7px 10px;
    margin: 0 10px;
    overflow-y: hidden;
    border: 2px solid #f08080;
}

.Textarea--comment::placeholder{
    font-size: 14px;
}

/* reply comment  */
.Textarea--reply-comment {
    padding: 0 10px;
    margin: 0 10px;
    overflow-y: hidden;
    border: 2px solid #f08080;
}

.Textarea--reply-comment::placeholder{
    font-size: 12px;
}