.upload-image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-direction: column;
  position: relative;
}
.upload-image-input {
  opacity: 1;
}

.custom-file-input {
  background-color: #f08080;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.upload-image-input:hover {
  opacity: 0.7;
}

.modal-upload-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.modal-upload-left {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ccc;
  border-radius: 4px;
  z-index: 1;
}

.modal-upload-left img {
  max-width: 670px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.modal-upload-right {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
}

.modal-upload-details {
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 0;
}

.modal-upload-details div {
  padding: 3px 0;
}

.all-tags {
  border: 2px solid #f08080;
  border-radius: 3px;
  display: flex;
  margin: 5px 0;
  max-width: 290px;
  flex-wrap: wrap;
}

.all-tags div {
  padding: 0 5px;
  border: 2px solid #f08080;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  opacity: 1;
  color: #f08080;
}

.all-tags div:hover {
  background-color: #f08080;
  color: white;
}

#remove-tag {
  font-size: 13px;
  margin-right: 5px;
}

#select-image-category {
  width: 100%;
  max-width: 290px;
  border: 1px solid #aaa;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}

#select-image-category:focus {
  border: 1px solid #aaa;
  outline: 1px solid #aaa;
}

.categories-item {
  border: 2px solid #f08080;
  border-radius: 3px;
  display: flex;
  margin: 5px 0;
  max-width: 290px;
  flex-wrap: wrap;
}

.categories-item div {
  padding: 0 10px;
  background-color: #f08080;
  border-radius: 5px;
  padding: 1px 10px;
  color: white;
  margin: 5px 10px;
  cursor: pointer;
  opacity: 1;
}

.categories-item div:hover {
  opacity: 0.7;
}

.sub-categories {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.add-category-button {
  margin-top: 2px;
}

.add-category-button button {
  padding: 5px 10px;
  color: white;
  border-radius: 7px;
  background-color: #f08080;
  border: none;
  opacity: 1;
}

.add-category-button button:hover {
  opacity: 0.7;
}

.post-mode {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#input-radio {
  width: 100%;
  border-radius: 50%;
}

#input-radio input {
  height: 17px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: none;
  color: #f08080;
}

#input-radio input:checked {
  color: #f08080;
}
