.image-detail-overlay {
    width: 1440px;
    height: 640px;
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 999999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.detail-page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.left-image-detail-page {
    width: 75%;
}

.right-image-detail-page {
    width: 25%;
}

.close-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ffdab9;
    color: #fff;
    padding: 0px 8px;
    margin: 5px;
    cursor: pointer;
    opacity: 1;
}

.close-overlay:hover{
    opacity: 0.7;
}

.right-image-detail {
    margin: 10px 30px;
    height: 600px;
    overflow: scroll;
}

.right-image-detail::-webkit-scrollbar { 
    display: none;
}

.image-detail-page-header {
    margin: 10px 0px;
}

.image-detail-page-header > span {
    margin-left: 20px;
    font-weight: 500;
}

.hash-tags-popup{
    margin: 10px;
}