$white: #FFFFFF;
$dark: #000;
$dark_500: #2E2E2E;
$dark_600: #414141;
$gray: #707070;
$gray_400:  #777777;
$primary_1: #f08080;
$primary_2: #f4978e;
$primary_3: #f8ad9d;
$primary_4: #fbc4ab;
$primary_5: #ffdab9;