.contest-management-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;

  .contest-management-wrapper {
    padding: 20px 0;
    width: 40%;

    .title {
      font-size: 25px;
      font-weight: bold;
      font-family: Roboto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        font-size: 16px;
      }

      textarea {
        border: 2px solid #dee2e6;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
        border-radius: 7px;
        padding: 5px 10px;
      }

      .contest-image-wrapper {
        margin: 0;
        display: flex;
        justify-content: center;
        .upload-button {
          width: 100%;

          button {
            border: none;
            background-color: #f08080;
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
            margin-top: 10px;
          }
        }
        input {
          display: none;
        }
      }

      #deadline-wrapper {
          div {
            label {
              margin-right: 10px;
            }
          }
      }

      #prize-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        max-width: 600px;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          input {
            width: 480px;
            margin: 0;
          }
        }
      }

      .button {
        margin: 10px 0 20px;

        button {
          background-color: #f08080;
          border: none;
          color: white;
          border-radius: 5px;
          padding: 5px 20px;
        }
      }
    }
  }

  .preview-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid #f08080;
    margin: 20px;
    border-radius: 5px;

    .contest-header {
      position: relative;
      background-color: #fbc4ab;
      width: 100%;

      #banner-image {
        width: 100%;
        max-height: 200px;
        object-fit: contain;
        opacity: 0.8;
      }
      .contest-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
      }
    }

    .content-wrapper {
      margin: 20px;
      padding: 10px;

      .description {
        #subtitle {
          font-weight: 600;
          margin-bottom: 10px;
          font-size: 20px;
        }
      }

      .contest-date {
        #subtitle {
          font-weight: 600;
          margin-bottom: 10px;
          font-size: 20px;
          margin-right: 10px;
        }

        .date-item {
          margin-top: 5px;
          span {
            font-weight: 600;
            margin-right: 10px;
          }
        }
      }
      .contest-prizes {
        margin-top: 18px;

        #subtitle {
          font-weight: 600;
          margin-bottom: 10px;
          font-size: 20px;
        }
      }

      .contest-uploader {
        #subtitle {
          font-weight: 600;
          margin-bottom: 10px;
          font-size: 20px;
        }
      }

      .button-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        button {
          width: 200px;
        }
      }
    }
  }
}
