.academy {
  padding: 30px;
}

.academy-title-page span {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}

.academy-title-page p {
  text-align: center;
  padding: 10px 0;
}

.video-courses-component,
.workshop-component {
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
}

#academy-section-tittle {
  font-size: 18px;
  font-weight: 600;
}

.video-courses-item {
  display: flex;
  flex-direction: column;
}

.video-courses-item img {
  max-width: 500px;
}

.interactive-courses-component {
  margin: 20px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
}

.interactive-courses-item img {
  max-height: 300px;
}

.workshop-courses-item img {
  max-height: 280px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
