.left-container {
    display: flex;
    flex-direction: column;
    width: 23%;
    position: fixed;
    height: 100%;
    background-color: #fffaf0;
    padding-top: 20px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;

    .left-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      #user-avatar {
        border-radius: 50%;
        object-fit: cover;
        max-width: 150px;
        height: 150px;
        width: 100%;
      }

      #username {
        font-weight: 500;
        margin: 20px 0px;
        font-size: 25px;
        max-width: 240px;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }

      .skill {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          font-weight: 500;
          font-size: 16px;
        }

        #userLink {
          max-width: 240px;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }
    }
  }