.modal-backdrop {
  z-index: 999999999999999999;
}

.report-photo-container {
  display: flex;
  flex-direction: row;
}

.report-photo-container img {
  width: 50%;
  max-height: 400px;
  max-width: 400px;
}

.right-report-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 10px;
}

.right-report-photo span {
  font-weight: 600;
  padding-bottom: 15px;
}

.right-report-photo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.right-report-photo ul li {
  display: flex;
  width: 100%;
  align-items: center;
}

li input {
  width: 10%;
  height: 10%;
  margin-right: 10px;
  background-color: transparent;
}

li span {
  width: 150%;
  margin-top: 10px;
}
