.activity-posts {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.activity-post {
  margin: 20px 0 50px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 5px;
}

.activity-post-header {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}

.activity-post-header img {
  max-width: 50px;
  border-radius: 50%;
}

#activity-post-name {
  font-weight: 600;
  margin: 0 5px;
}

#activity-post-time {
  margin: 0 5px;
}

.activity-post-image img {
  max-width: 600px;
}

.activity-post-interaction {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.activity-list-options {
  position: absolute;
  background-color: #fff;
  padding: 10px 20px;
  z-index: 900;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.activity-list-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.activity-list-options ul li {
  opacity: 1;
}

.activity-list-options ul li:hover {
  opacity: 0.6;
}
