.courses-detail {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.react-quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 1000px;
    padding: 30px;
}

.answerBtn img {
    max-width: 500px
}

.card-body {
    max-width: 800px;
}

.back-btn {
    font-size: 20px;
    color: #f08080;
    position: absolute;
    left: 10%;
    opacity: 1;
    cursor: pointer;
}

.back-btn:hover {
    opacity: 0.6;
}