#myTextarea {
  resize: both; /* Allows both vertical and horizontal resizing */
  /* overflow: auto; */
  width: 300px; /* Initial width */
  /* height: 50px; Initial  */
  max-height: 200px;
  overflow-y: hidden;
  border: 1px solid black;
}