.leader-board {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    #title {
      font-size: 28px;
      font-weight: 600;
      padding-top: 20px;
    }
  }

  .leader-board-content {
    .filter-and-search {
      display: flex;
      flex-direction: row;
      width: 100%;

      .search-bar {
        margin-left: 20px;
      }
    }

    .table-content {
      width: 1000px;
      margin-top: 10px;
      margin-bottom: 50px;

      table {
        width: 100%;
        text-align: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        thead {
          tr {
            background-color: #f8ad9d;
            font-size: 19px;
            font-weight: 600;
            td {
              padding: 10px 5px;
              border-collapse: collapse;
            }
          }
        }

        tbody {
          tr:nth-child(even) {
            background-color: #fcebd7;
          }
          td {
            padding: 7px 5px;
            border-collapse: collapse;
          }
        }
      }
    }
  }
}
