.edit-profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.above-content,
.below-edit-content {
  display: flex;
}

.above-content {
  gap: 30px;
}

.change-avatar-img,
.change-cover-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-avatar-img img {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.change-cover-image img {
    max-width: 400px;
}

.change-cover-image img {
  object-fit: cover;
  max-height: 200px;
  margin-bottom: 10px;
}

.below-edit-content {
  flex-direction: column;
  margin: 40px 0 30px;
  justify-content: left;
  width: 60%;
}

.below-edit-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  padding-bottom: 5px;
  align-items: center;
}

.below-edit-content div div {
  width: 80%;
}

.below-edit-content div button {
  margin-top: 20px;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: #f08080;
}

.custom-file-input {
  background-color: #f08080;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-avatar-image input {
  display: none;
}

.edit-cover-image input {
  display: none;
}

.default-edit-avatar {
  margin-bottom: 10px;
}
