.upload-story-page {
  padding: 20px;
}

.btn-upload-story {
  margin-top: 20px;
}

.my-editing-area {
  height: 50vh;
}

.ql-editor {
  min-height: 18em;
  overflow-y: scroll;
  resize: vertical;
}

.ql-editor p img {
  max-width: 600px !important;
  width: 100%;
  object-fit: cover;
  margin: 10px 0;
}
