.upload-story-page {
  padding: 20px;
}

.btn-upload-story {
  margin-top: 20px;
}

.btn-upload-story button {
  background-color: #f08080;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
}

.my-editing-area {
  height: 50vh;
}

.ql-editor {
  min-height: 18em;
  overflow-y: scroll;
  resize: vertical;
}

.ql-editor p img {
  max-width: 600px !important;
  width: 100%;
  object-fit: cover;
  margin: 10px 0;
}

.story-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

#story-title-input{
  width: 30%;
}

.story-visibility {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.story-input-tags {
  max-width: 500px;
  margin-bottom: 20px;
}

.story-input-tags div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.all-tags {
  display: flex;
}

.all-tags div{
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.story-input-tags input {
  max-width: 290px;
}

.story-input-catrgories {
  max-width: 500px;
}

.story-input-catrgories .sub-categories {
  max-width: 290px;
  width: 100%;
}